.App {
  text-align: center;
  margin: 5vh 2rem auto auto;
}
.headline{
  font-size: 3rem;
}

.newsDiv{
  width: 80%;
  margin: 5vh auto;
  background-color: #e4e3e3;
}

.newsDiv h2{
  padding: 5%;
  font-size: 2rem;
}

.newsDiv img{
  width: 70%;
}

.newsDiv p{
  width: 60%;
  margin: 3vh auto;
}

.newsDiv h3{
  padding: 5%;
  margin: 3vh auto;
}